2_完成プログラム/python_sem/build/
2_完成プログラム/python_sem/dist/
2_完成プログラム/python_sem/othello/__pycache__
2_完成プログラム/python_sem/othello/player/__pycache__
2_完成プログラム/python_sem/othello_gui/__pycache__
2_完成プログラム/python_sem/othello_cui.spec